@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em; 
    text-decoration: none;
}

.body {
    background: gray;
}

.header {
    display: flex;
    font-size: 2em;
    height: 3em;
    justify-content: center;
    align-items: center;
    justify-items: center;
    margin: auto;
    color: white;
}

.cart {
    max-width: 2em;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.cart__image{
    max-width: 3em;
    cursor: pointer;
}

.search-container {
    justify-content: center;
    background: gray;
    display: grid;    
    grid-template-columns: 80% 15%;        
    grid-gap: 1%;
    margin: 2em 1em;
    font-size: 1.25em;     
}

.search-container input {
    padding: 0.25em;
    border: none;
    border-radius: 10em;
}

.search-container button {
    border: none; 
    border-radius: 10em;
}

.content {
    justify-content: center;
    background: gray;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));        
    grid-gap: 1%;
    margin: 0 1em;
}

.card {
    display: FLEX;
    flex-direction: column;
    gap: 0.1em;
    background-color: #fff;
    padding: 1em; 
    max-width: fit-content;   
    max-height: 30em;
    border: none;
    border-radius: 10%;
    
}

.product__image {
    max-width: 100%;
    max-height: 65%;
    margin: auto;
}

.product__photo {
    display: block;
    max-width: 20em;
    max-height: 15em;
}

.product__id {
    display: none;
}

.product__title{
    font-size: 1.5em;
    justify-content: center;
    text-align: center;
    font-weight: 700;    
    max-width: 100%;    
    display: block;    
}

.product__title__archor{
    text-decoration: none;
    color: rgb(50,50,50);
}

.product__price {
    font-size: 1.5em;
    justify-content: center;
    text-align: center;
    font-weight: 700;
    color: rgb(33,33,33);
    max-height: 10%;
    color: #2562a7;
}

.product__brand {
    font-size: 0.75em;
    justify-content: center;
    text-align: center;
    font-weight: 700;    
    max-height: 10%;
    color: #2562a7;
}

.product__description {
    font-size: 1em;
    justify-content: center;
    text-align: center;
    font-weight: 500;
    color: rgb(33,33,33);        
    margin-top: auto;
}



.ProductDescription {
    margin: auto;
    padding: 2em;
    display: grid;
    grid-template-columns: repeat(2, 50%);
}

.productPage__image{
    display: flex;
    flex-direction: column;    
    justify-content: center;
    align-items: center;
    margin: auto;
    min-width: 5em;
    max-width: 30em;
}

.productPage__information {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    margin: 1em 0;
}

.body__productPage {
    background-color: gray;
}

.product-content {
    background-color: #fff;
    justify-content: center;
}


.productPage__brand {
    font-size: 1.25em;
    justify-content: center;
    text-align: center;
    font-weight: 700;    
    max-height: 10%;
    color: #2562a7;
    padding: 0.5em;
}

.productPage__title__anchor{
    text-decoration: none;
    font-size: 2em;
    color: rgb(50,50,50);
}

.productPage__price {    
    font-size: 1.5em;
    justify-content: center;
    text-align: center;
    font-weight: 700;
    color: rgb(33,33,33);
    max-height: 10%;
    color: #2562a7; 
    margin: auto;  
}

.productPage__buyButton {
    justify-content: center;
    font-size: 1.5em;
    border-radius: 0.5em;
    padding: 0.1em 2em;
    width: fit-content;
    margin: auto auto 0 auto;
}

.productPage__description{
    text-align: justify;
    justify-content: center;
    margin: 2em 5em;
}

.search-container__button {
    cursor: pointer;
}

.button__addToCart {
    cursor: pointer;
}

.closeShopping {
    cursor: pointer;
}

.cardCart {
    display: flex;
    flex-direction: column;
    gap: 0.1em;
    background-color: #fff;
    padding: 1em; 
    max-width: fit-content;   
    max-height: fit-content;
    border: none;
    border-radius: 5%;
    margin: 2em auto;
    
}

.cardCart__title {
    display: flex;
    margin: auto;
    font-size: 1.5em;
}

.listCard {
    padding: 1em;
    display: flex;  
    flex-direction: column;     
    
    gap: 1em;
}

.productItemCart {
    display: flex;
}

.productItemCart__image{
    max-width: 3em;
}

.productItemCart__brandAndTitle{
    display: flex;
    flex-direction: column;
    margin: 0 1em 0 2em;
}

.productItemCart__brand{
    color: rgb(41, 141, 255);
    font-weight: 700;
}

.productItemCart__price {
    margin-left: auto;
}

.cardCart__total,
.cardCart__closeShopping {
    font-size: 1.05em;
    margin: 0.75em 0;
    font-weight: 700;
}

.cardCart__closeShopping {
    color: rgb(94, 94, 94);
}






.active {
    display: block;
}

.deactive {
    display: none;
}

.hide {
    display: none;
}